/* Basic sample */

body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0 auto;
	padding:0;
	background:url('../pics/bg.jpg')no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	max-height: 900px
}
body.hide-overflow {
    overflow: hidden;
}
.tracking-point{
    position: absolute;
    right: 0px;
	height: 5px;
	width: 5px;
	background: none
}

.btn-click{
    position: absolute;
    z-index: 100;
    transform: scale(1);
	display: block;
}
.btn-click img:nth-child(1){
    position: absolute;
    width: 80px;
    right: -20px;
    top: 20px
}
.btn-click img:nth-child(2){
    position: absolute;
    width: 30px;
    transform: rotateZ(90deg);
    right: 80px;
}
.page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}
.shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}
/* helpers */

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* book */

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page img {
    max-width: 100%;
    height: 100%;
}
/*My CSS*/
.lbl-calendar{
	position: absolute;
    left: 0;
    top: -5px;
    padding-top: 60px;
    border: 4px solid #fff;
    margin-left: 10%;
    padding: 15px;
}
.lbl-calendar span{
	color: #fff;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.txt-desc {
    background: #fb9e138a;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 400px;
    color: #fff;
    height: 55%;
    padding: 60px;
	font-size: 22px;
}
.hide_text{
	display: none;
} 
@media screen and (max-width:1440px){
.btn-click{
    position: absolute;
    z-index: 100;
    transform: scale(1);
}
.btn-click img:nth-child(1){
    position: absolute;
    width: 80px;
    right: 270px;
    top: 20px
}
.btn-click img:nth-child(2){
    position: absolute;
    width: 30px;
    transform: rotateZ(-90deg);
    right: 210px;
}
}
@media screen and (max-width:1200px){
.lbl-calendar{
	position: absolute;
    left: 0;
    top: -5px;
    padding-top: 40px !important;
    border: 4px solid #fff;
    margin-left: 5%;
    padding: 15px;
}
.txt-desc{
	width: 30%;
	left: 5%;
	font-size: 18px;
	padding: 30px
}
}
@media screen and (max-width:1050px){
.btn-click{
    position: absolute;
    z-index: 100;
    transform: scale(1);
}
.btn-click img:nth-child(1){
    position: absolute;
    width: 80px;
    right: 120px;
    top: -90px;
	
}
.btn-click img:nth-child(2){
    position: absolute;
    width: 30px;
    transform: rotateZ(0deg);
    right: 143px;
	top: -65px
}
}
@media screen and (max-width:900px){
.lbl-calendar{
    border: 2px solid #fff;
}
.lbl-calendar span{
	color: #fff;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.txt-desc{
	width: 30%;
	left: 5%;
	font-size: 16px;
	padding: 30px
}
}
